

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-submit {
      margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
    /* input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #364c636a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-self:center ;
    border-radius: 10px;

  }
  
  button:hover {
    background-color: #424549de;
  }
  