*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.register{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-register{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2)


}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }